<div class="row">
  <div class="col-md-12">
    <br />
    <h2>Students</h2>
    <hr />
    {{#if courses}}
      <div class="table-respnsive">
        <table class="table">
          <tr>
            <th>Course Code</th>
            <th>Course Description</th>
          </tr>
          {{#each courses}}
            <tr>
              <td><a href="/course/{{this.courseId}}" style="color: rgb(57, 53, 53) !important;">{{this.courseCode}}</a></td>
              <td><a href="students?course={{this.courseId}}" style="color: rgb(57, 53, 53) !important;">{{this.courseDescription}}.</a></td>
            </tr>
          {{/each}}
        </table>
      </div>
    {{/if}}
    {{#unless courses}}
      <div class="col-md-12">
        <div class="col-md-12 text-center">
          <strong>{{message}}</strong>
        </div>
      </div>
    {{/unless}}
  </div>
</div>